.corporate-travel {
  padding-left: 55px;
  border-left: 1px solid $footer-mark-grey;

  @media (max-width: 1620px) {
    padding-left: 36px;
  }

  @media (max-width: 1322px) {
    padding-left: 18px;
  }
}

.corporate-travel__title {
  margin-bottom: 20px;
}

.corporate-travel__information {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $footer-link-grey;
  margin: 0;
}

@media (max-width: $tablet-width) {
  .corporate-travel {
    border-top: 1px solid $footer-mark-grey;
    padding: 29px 0 0 0;
    grid-column: 1 / -1;
    border-left: none;
  }

  .corporate-travel__title {
    text-align: center;
  }

  .corporate-travel__information {
    text-align: center;
  }
}

@media (max-width: $mobile-width) {
  .corporate-travel {
    padding-top: 30px;
  }
}
