.input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $toggle-menu-black;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid $footer-mark-grey;
  font-family: inherit;

  &::placeholder {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
  }

  &--tel {
    padding: 16px 15px 15px 50px;
  }

  &--email {
    padding: 16px 15px 15px 15px;
  }

  &--error {
    border-color: $red;
    outline: none;
  }
}

@media (max-width: $mobile-width) {
  .input {
    width: 288px;
  }
}
