.next-travel {
  border-right: 1px solid $footer-mark-grey;
}

.next-travel__title {
  margin-bottom: 22px;
}

.next-travel__travel-city {
  display: grid;
  grid-template-columns: repeat(3, 128px);
}

.next-travel__travels {
  list-style: none;
  padding: 0;
  margin: 0;
}

.next-travel__travel {
  margin-bottom: 10px;
  color: $footer-link-grey;
  font-size: 14px;
  line-height: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-width) {
  .next-travel {
    margin-bottom: 28px;
  }

  .next-travel__travel-city {
    grid-template-columns: repeat(3, 1fr);
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .next-travel {
    padding-bottom: 9px;
    border-right: 0;
    border-bottom: 1px solid $footer-mark-grey;
    margin-bottom: 30px;
  }

  .next-travel__title {
    text-align: center;
  }

  .next-travel__travel-city {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -10px;
  }

  .next-travel__travels {
    padding-right: 0;
    width: 135px;
    text-align: center;
    margin-bottom: 19px;
  }
}
