.places-of-visit {
  margin-bottom: 25px;
}

.places-of-visit__wrapper {
  max-width: 1170px;
  margin: 0 auto;

  @media (max-width: 1208px) {
    margin: 0 20px 0 20px;
  }
}

.places-of-visit__title {
  max-width: 358px;
  margin-bottom: 64px;
  position: relative;
  line-height: 80px;

  &::after {
    content: "";
    position: absolute;
    width: 228.5px;
    border-bottom: 4px solid $red;
    top: 189px;
    left: 0;
  }
}

.places-of-visit__information {
  font-weight: 400;
  max-width: 328px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  color: $main-title-black-7;
  margin: 0 0 54px 0;
}

.places-of-visit__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 1089px) {
    justify-content: space-around;
  }
}

.places-of-visit__item {
  margin-bottom: 100px;

  &--montenegro {
    margin-left: 175px;
  }

  &--croatia {
    margin-right: 175px;
  }

  @media (max-width: 1089px) {
    &--montenegro {
      margin-left: 0;
    }

    &--croatia {
      margin-right: 0;
    }
  }
}

.places-of-visit__link-block {
  height: 430px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  background-repeat: no-repeat;
  position: relative;
  background-color: $places-of-visit-background-blue;
  background-size: contain;

  &::before {
    position: absolute;
    content: "смотреть подробнее";
    width: 266px;
    height: 77px;
    color: $white;
    z-index: 1;
    top: 177px;
    left: 42px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $white-7;
    opacity: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 21, 23, 0.6);
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }
  }

  &--greece {
    background-image: url("../img/places-of-visit-greece.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/places-of-visit-greece@2x.jpg");
    }
  }

  &--albania {
    background-image: url("../img/places-of-visit-albania.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/places-of-visit-albania@2x.jpg");
    }
  }

  &--macedonia {
    background-image: url("../img/places-of-visit-macedonia.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/places-of-visit-macedonia@2x.jpg");
    }
  }

  &--montenegro {
    background-image: url("../img/places-of-visit-montenegro.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/places-of-visit-montenegro@2x.jpg");
    }
  }

  &--croatia {
    background-image: url("../img/places-of-visit-croatia.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/places-of-visit-croatia@2x.jpg");
    }
  }
}

.places-of-visit__country {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.41px;
  color: $main-title-black;
  width: 215px;
  min-height: 62px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 -1px 0;
}

@media (max-width: $tablet-width) {
  .places-of-visit {
    margin-bottom: 56px;
  }

  .places-of-visit__wrapper {
    min-width: 616px;
    margin: 0 76px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .places-of-visit__title {
    line-height: 45px;
    margin-bottom: 22px;
    text-align: center;

    &::after {
      display: none;
    }
  }

  .places-of-visit__information {
    margin-bottom: 38px;
    text-align: center;
  }

  .places-of-visit__list {
    justify-content: space-around;
    margin: 0 -20px;
  }

  .places-of-visit__item {
    margin-bottom: 40px;

    &--montenegro {
      margin-left: 0;
    }

    &--croatia {
      margin-right: 0;
    }
  }

  .places-of-visit__link-block {
    width: 288px;
    height: 425px;

    &::before {
      top: 174px;
      left: 11px;
    }

    &--greece {
      background-image: url("../img/places-of-visit-greece-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-greece-tablet@2x.jpg");
      }
    }

    &--albania {
      background-image: url("../img/places-of-visit-albania-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-albania-tablet@2x.jpg");
      }
    }

    &--macedonia {
      background-image: url("../img/places-of-visit-macedonia-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-macedonia-tablet@2x.jpg");
      }
    }

    &--montenegro {
      background-image: url("../img/places-of-visit-montenegro-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-montenegro-tablet@2x.jpg");
      }
    }

    &--croatia {
      background-image: url("../img/places-of-visit-croatia-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-croatia-tablet@2x.jpg");
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .places-of-visit {
    margin-bottom: 5px;
  }

  .places-of-visit__title {
    margin-bottom: 16px;
  }

  .places-of-visit__list {
    margin: 0;
  }

  .places-of-visit__wrapper {
    min-width: 288px;
    margin: 0 16px;
  }

  .places-of-visit__information {
    margin-bottom: 19px;
    min-height: 84px;
  }

  .places-of-visit__item {
    margin-bottom: 35px;
  }

  .places-of-visit__link-block {
    min-width: 288px;
    width: auto;

    &--greece {
      background-image: url("../img/places-of-visit-greece-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-greece-mobile@2x.jpg");
      }
    }

    &--albania {
      background-image: url("../img/places-of-visit-albania-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-albania-mobile@2x.jpg");
      }
    }

    &--macedonia {
      background-image: url("../img/places-of-visit-macedonia-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-macedonia-mobile@2x.jpg");
      }
    }

    &--montenegro {
      background-image: url("../img/places-of-visit-montenegro-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-montenegro-mobile@2x.jpg");
      }
    }

    &--croatia {
      background-image: url("../img/places-of-visit-croatia-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/places-of-visit-croatia-mobile@2x.jpg");
      }
    }
  }
}
