.title {
  font-weight: 600;
  margin: 0;

  &--main {
    font-size: 55px;
    line-height: 90px;
    letter-spacing: -1.25px;
    color: $main-title-black;
  }

  &--footer {
    font-size: 18px;
    line-height: 32px;
    color: $black;
  }
}

@media (max-width: $tablet-width) {
  .title {
    letter-spacing: 0;

    &--main {
      font-size: 30px;
      line-height: 150%;
    }
  }
}

@media (max-width: $mobile-width) {
  .title {
    &--main {
      font-size: 24px;
    }
  }
}
