// Colors

$black: #141517;
$classic-black: #000000;
$white: #ffffff;
$white-7: rgba(255, 255, 255, 0.7);
$red: #fe7865;
$grey: #fbf8f8;
$toggle-menu-black: #48494d;
$arrow-menu-grey: rgba(44, 46, 63, 0.5);
$toggle-opened-grey: rgba(20, 21, 23, 0.2);
$main-title-black: #2c2e3f;
$main-title-black-3: rgba(44, 46, 63, 0.3);
$main-title-black-7: rgba(44, 46, 63, 0.7);
$footer-link-grey: rgba(20, 21, 23, 0.5);
$footer-mark-grey: #d7d9df;
$button-hover-red: #f17d4b;
$tariff-name-black: rgba(20, 21, 23, 0.7);
$questions-form-shadow: rgba(41, 54, 66, 0.1);

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
